In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LRO_dec.csv")
df.columns

Index(['LocalDateTime', 'UTCOffset', 'DateTimeUTC', 'BGA', 'BattVolt',
       'Chlorophyll', 'Discharge_cms', 'Door_Tot', 'EXOTime', 'EXOVolt', 'ODO',
       'ODO_Local', 'ODO_Sat', 'RH_enc', 'Rain_Tot', 'SpCond', 'Stage',
       'StageNaNCounter', 'StageOffset', 'TurbAvg', 'TurbBES', 'TurbMax',
       'TurbMed', 'TurbMin', 'TurbVar', 'TurbWipe', 'WaterSurfaceElev',
       'WaterTemp_EXO', 'WaterTemp_PT', 'WaterTemp_Turb', 'fDOM', 'pH'],
      dtype='object')

In [5]:
frames = []
for datetime in df.LocalDateTime.values:
    ("2024-12-04" in datetime) and frames.append(datetime)
# frames

In [4]:
# measured 12 ft (30.48 cm) at 15:00 local time (22:00 UTC)
# TODO: pull updated data from LRO
df[df.LocalDateTime.isin(frames)][[
    "LocalDateTime", "DateTimeUTC", "Stage", "WaterSurfaceElev",  "Discharge_cms"
]]

,LocalDateTime,DateTimeUTC,Stage,WaterSurfaceElev,Discharge_cms
32438,2024-12-04 00:00:00,2024-12-04 07:00:00,10.61,7.37,3.72
32439,2024-12-04 00:15:00,2024-12-04 07:15:00,10.75,7.38,3.74
32440,2024-12-04 00:30:00,2024-12-04 07:30:00,10.61,7.37,3.72
32441,2024-12-04 00:45:00,2024-12-04 07:45:00,10.50,7.37,3.70
32442,2024-12-04 01:00:00,2024-12-04 08:00:00,10.39,7.37,3.68
...,...,...,...,...,...
32529,2024-12-04 22:45:00,2024-12-05 05:45:00,9.94,7.37,3.61
32530,2024-12-04 23:00:00,2024-12-05 06:00:00,9.79,7.37,3.59
32531,2024-12-04 23:15:00,2024-12-05 06:15:00,9.65,7.36,3.57
32532,2024-12-04 23:30:00,2024-12-05 06:30:00,9.63,7.36,3.56
32533,2024-12-04 23:45:00,2024-12-05 06:45:00,9.51,7.36,3.55

In [6]:
df[df.LocalDateTime == "2024-12-04 03:00:00"][[
    "LocalDateTime", "DateTimeUTC", "Stage", "WaterSurfaceElev",  "Discharge_cms"
]]

,LocalDateTime,DateTimeUTC,Stage,WaterSurfaceElev,Discharge_cms
32450,2024-12-04 03:00:00,2024-12-04 10:00:00,10.33,7.37,3.67