In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import xarray as xr
import glob

In [5]:
vector_files = [f for f in glob.glob('nc_new/*.nc')]
df = xr.open_dataset(vector_files.pop()).to_dataframe().reset_index()
for f in vector_files:
    temp = xr.open_dataset(f).to_dataframe().reset_index()
    df = pd.concat([df, temp])
    break
df.to_csv('all_vecs.csv', index=False)

In [ ]:
# ds = xr.open_dataset('nc_new/video_capture_2024-01-05_13-41-17_velocimetry_results.nc')
ds = xr.open_dataset('nc_new/video_capture_2024-05-02_07-52-36_velocimetry_results.nc')
df = ds.to_dataframe().reset_index()
ds.close()

In [6]:
df = pd.read_csv('all_vecs.csv')
df

,time,y,x,v_x,v_y,s2n,corr,xp,yp,xs,ys,sun_altitude,sun_azimuth,spacial_location,LRO_discharge,LRO_site,vegetation,name,month
0,0.05,9.645,0.155,NaN,NaN,0.00,0.00,-505.60663,-114.816770,4.851284,4.731944,0.928858,3.662460,4,5.95,MainStreet,none,video_capture_2024-04-10_13-38-23,4
1,0.05,9.645,0.285,NaN,NaN,0.00,0.00,-458.10867,-70.615360,4.858472,4.861746,0.928858,3.662460,4,5.95,MainStreet,none,video_capture_2024-04-10_13-38-23,4
2,0.05,9.645,0.415,NaN,NaN,0.00,0.00,-413.04346,-28.677856,4.865659,4.991547,0.928858,3.662460,4,5.95,MainStreet,none,video_capture_2024-04-10_13-38-23,4
3,0.05,9.645,0.545,NaN,NaN,0.00,0.00,-370.22873,11.165405,4.872847,5.121348,0.928858,3.662460,4,5.95,MainStreet,none,video_capture_2024-04-10_13-38-23,4
4,0.05,9.645,0.675,NaN,NaN,0.00,0.00,-329.50003,49.067383,4.880035,5.251149,0.928858,3.662460,4,5.95,MainStreet,none,video_capture_2024-04-10_13-38-23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848995,6.25,0.155,19.525,0.04,0.0,5.42,0.69,1666.67200,1292.113300,15.397745,23.547607,0.414650,3.444309,0,3.20,MainStreet,none,video_capture_2024-01-05_13-41-17,1
2848996,6.25,0.155,19.655,0.03,0.0,3.54,0.51,1664.68860,1293.607000,15.404933,23.677408,0.414650,3.444309,0,3.20,MainStreet,none,video_capture_2024-01-05_13-41-17,1
2848997,6.25,0.155,19.785,0.01,0.0,2.80,0.42,1662.72670,1295.084600,15.412121,23.807209,0.414650,3.444309,0,3.20,MainStreet,none,video_capture_2024-01-05_13-41-17,1
2848998,6.25,0.155,19.915,-0.04,0.0,3.00,0.44,1660.78580,1296.546300,15.419309,23.937010,0.414650,3.444309,0,3.20,MainStreet,none,video_capture_2024-01-05_13-41-17,1
2848999,6.25,0.155,20.045,0.00,0.0,3.32,0.52,1658.86560,1297.992300,15.426496,24.066811,0.414650,3.444309,0,3.20,MainStreet,none,video_capture_2024-01-05_13-41-17,1

In [ ]:
df2 = df[df.s2n != 0]
df2 = df2[df2.v_x > 0]
# df2 = df2[df2.time == 0.05]
df2

In [ ]:
sns.histplot(
    data=df2,
    # x='spacial_location',
    x='v_x',
    bins=20
    # discrete=True,
)

In [ ]:
sns.histplot(
    data=df2,
    x='time',
    y='spacial_location',
    discrete=True
)