In [6]:
import xarray as xr
import numpy as np

In [4]:
ds = xr.open_dataset('January/results/video_capture_2024-01-01_07-51-43_velocimetry_results.nc')
df = ds.to_dataframe().reset_index()
df

,time,y,x,v_x,v_y,s2n,corr,xp,yp,xs,ys
0,0.05,9.645,0.155,NaN,NaN,0.00,0.00,-505.606628,-114.816772,4.851284,4.731944
1,0.05,9.645,0.285,NaN,NaN,0.00,0.00,-458.108673,-70.615356,4.858472,4.861746
2,0.05,9.645,0.415,NaN,NaN,0.00,0.00,-413.043457,-28.677856,4.865659,4.991547
3,0.05,9.645,0.545,NaN,NaN,0.00,0.00,-370.228729,11.165405,4.872847,5.121348
4,0.05,9.645,0.675,NaN,NaN,0.00,0.00,-329.500031,49.067383,4.880035,5.251149
...,...,...,...,...,...,...,...,...,...,...,...
1424495,6.25,0.155,19.525,-1.23,2.24,1.79,0.28,1666.671997,1292.113281,15.397745,23.547607
1424496,6.25,0.155,19.655,-0.03,-0.03,2.06,0.34,1664.688599,1293.607056,15.404933,23.677408
1424497,6.25,0.155,19.785,-0.03,-0.03,1.91,0.33,1662.726685,1295.084595,15.412121,23.807209
1424498,6.25,0.155,19.915,1.84,-0.40,1.93,0.33,1660.785767,1296.546265,15.419309,23.937010
1424499,6.25,0.155,20.045,NaN,NaN,0.00,0.33,1658.865601,1297.992310,15.426496,24.066811

In [15]:
df['velocity'] = [np.sqrt(x**2 + y**2) for x, y in zip(df['xs'], df['ys'])]

In [16]:
df

,time,y,x,v_x,v_y,s2n,corr,xp,yp,xs,ys,velocity
0,0.05,9.645,0.155,NaN,NaN,0.00,0.00,-505.606628,-114.816772,4.851284,4.731944,6.776891
1,0.05,9.645,0.285,NaN,NaN,0.00,0.00,-458.108673,-70.615356,4.858472,4.861746,6.873232
2,0.05,9.645,0.415,NaN,NaN,0.00,0.00,-413.043457,-28.677856,4.865659,4.991547,6.970666
3,0.05,9.645,0.545,NaN,NaN,0.00,0.00,-370.228729,11.165405,4.872847,5.121348,7.069147
4,0.05,9.645,0.675,NaN,NaN,0.00,0.00,-329.500031,49.067383,4.880035,5.251149,7.168634
...,...,...,...,...,...,...,...,...,...,...,...,...
1424495,6.25,0.155,19.525,-1.23,2.24,1.79,0.28,1666.671997,1292.113281,15.397745,23.547607,28.135038
1424496,6.25,0.155,19.655,-0.03,-0.03,2.06,0.34,1664.688599,1293.607056,15.404933,23.677408,28.247683
1424497,6.25,0.155,19.785,-0.03,-0.03,1.91,0.33,1662.726685,1295.084595,15.412121,23.807209,28.360477
1424498,6.25,0.155,19.915,1.84,-0.40,1.93,0.33,1660.785767,1296.546265,15.419309,23.937010,28.473418
1424499,6.25,0.155,20.045,NaN,NaN,0.00,0.33,1658.865601,1297.992310,15.426496,24.066811,28.586504